.sectionLogin {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

.sectionLogin .image_login {
    position: relative;
    width: 50%;
    height: 100%;
}

.sectionLogin .image_login:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    mix-blend-mode: screen;
}

.sectionLogin .image_login img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sectionLogin .contentBx {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.sectionLogin .formBx {
    width: 50%;
}

.sectionLogin .formBx h2 {
    color: #607d8b;
    font-weight: 600;
    font-size: 1.6em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #7380ec;
    display: inline-block;
    letter-spacing: 1px;
}

.sectionLogin  .inputBx {
    margin-bottom: 20px;
}

.sectionLogin .inputBx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #607d8b;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

.sectionLogin .inputBx input {
    width: 90%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: #607d8b;
    background: transparent;
    border-radius: 30px;
}

.sectionLogin .inputBx input[type="submit"] {
    background: #7380ec;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
    width: 50%;
    margin-top: 10px;
}

.sectionLogin  .inputBx input[type="submit"]:hover {
    background: #7380ec;
}

@media (max-width: 768px) {
    .sectionLogin .image_login {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .sectionLogin .contentBx {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }

    .sectionLogin .formBx {
        width: 100%;
        padding: 40px;
        background: rgb(255 255 255 / 0.9);
        margin: 50px;
    }
}